<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Menu</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Full Menu</h1>
    <h2>Mains</h2>
    <% menu.forEach((item, index) =>{ %> <% if (item.category === 'mains') { %>
    <ul>
      <li>
        <b><%= item.name %></b> <%if (item.rating === 5) { %> "⭐" <% } %>
      </li>
      Price: <%= item.price %> Rating: <%= item.rating %>
      <br />Details: <%= item.details %>
    </ul>
    <% } }) %>
    <h2><b>Desserts</b></h2>
    <% menu.forEach((item, index) =>{ %> <% if (item.category === 'desserts') {
    %>
    <ul>
      <li>
        <b><%= item.name %></b> <%if (item.rating === 5) { %> "⭐" <% } %>
      </li>
      Price: <%= item.price %> Rating: <%= item.rating %>
      <br />Details: <%= item.details %>
    </ul>
    <% } }) %>
    <h2>Sides</h2>
    <% menu.forEach((item, index) =>{ %> <% if (item.category === 'sides') { %>
    <ul>
      <li>
        <b><%= item.name %></b> <%if (item.rating === 5) { %> "⭐" <% } %>
      </li>
      Price: <%= item.price %> Rating: <%= item.rating %>
      <br />Details: <%= item.details %>
    </ul>
    <% } }) %>
  </body>
</html>
